*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.padre{
    background-image: url(./img/fondo-flex.jpg);
    height: 100vh; 
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
img{
    width: 118px;
}
.pajaritos1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.negro{
    align-self: center;
}
.pajaritos2{
    display: flex;
    justify-content: space-around;
    margin: 0px 60px;
}